*,
*::before,
*::after {
  padding: 0;
  border: 0;
  outline: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
  text-decoration: none;
  list-style: none;
}

*::selection {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
}

html {
  font-family: monospace, -apple-system, system-ui, BlinkMacSystemFont,
    SF Pro Text, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}

:root {
  --primary-color: rgba(178, 119, 0, 0.35);
  --secondary-color: #005eff21;
  --primary-font-color: #fdfdfd;
  --background-color: #171717;
  --orange: #ffa500;
  --box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  --font-size-base: 16px;
  --font-size-xs: calc(var(--font-size-base) / 1.75);
  --font-size-sm: calc(var(--font-size-base) / 1.25);
  --font-size-md: calc(var(--font-size-base) * 1.25);
  --font-size-lg: calc(var(--font-size-md) * 1.5);
  --font-size-xl: calc(var(--font-size-lg) * 1.75);
  --font-size-xxl: calc(var(--font-size-xl) * 2);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  width: 100%;
  border: 0.5px solid var(--primary-font-color);
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
  text-rendering: optimizeSpeed;
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  overflow-wrap: break-word;
}

section {
  margin: 128px auto;
}

b,
strong {
  font-weight: bolder;
}

em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

small {
  font-size: 0.875em;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

textarea {
  resize: vertical;
}

/* Global CSS Classes */
.sectionTextHeader {
  font-size: var(--font-size-lg);
  color: var(--primary-font-color);
  margin-bottom: 1rem;
}

.btn-primary {
  padding: 12px 16px;
  display: inline-block;
  color: var(--primary-font-color);
  background-color: var(--primary-color);
  border-radius: 4px;
  width: max-content;
  border: 1px solid var(--primary-color);
  transition: border 0.3 ease-in;
  margin-top: auto;
}

.btn-primary:hover {
  border: 1px solid var(--secondary-color);
}

/* Webkit CSS Configurations. */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:vertical {
  min-height: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--background-color);
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-track:hover {
  background: #ddd;
}

/* Container Infrastracture. */
.container-fluid {
  width: 100vw;
}

.container,
.container-m {
  width: 100%;
  padding: 0 16px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 480px) {
  .container,
  .container-m {
    max-width: 480px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-m {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
