.footerContainer {
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-font-color);
  background-color: var(--secondary-blue-color);
  margin-top: auto;
}

.footerContainer nav {
  display: flex;
  row-gap: 24px;
  flex-direction: column;
  justify-content: space-between;
}

.footerContainer nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
}

.footerContainer nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.footerContainer nav ul li a:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

.footerContainer nav ul li a svg {
  width: 24px;
  height: 24px;
}

.footerContainer nav p {
  text-align: center;
}

.developer {
  cursor: pointer;
  color: var(--orange);
}
